<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="sections edit">
	<h2>Update Section</h2>

<%= form_for(:section, :url => {:action => 'update', :id => @section.id}) do |f| %>

<!-- we want this form to submit to update, send the id as a local instance variable 
 -->

<%= render(:partial => "form", :locals => {:f => f}) %> 


	<% end %>
</div>